.nav-link {
  color: #a1a0a7;
}

.nav-link:hover {
  color: white;
}

.activated {
  color: #fbbf21;
  border-radius: 7px;
  padding: 0.25rem 0.75rem;
  background-color: #212122;
}

.activated:hover {
  color: #fcc12b;
  background-color: #2f2f30;
}
